/**
 *
 * @type {{Written by Shahzaib 12 April,2019}}
 */

.add-stock-item {
    margin-left: 100px;
}

#sel1 {
    width: 100px;
    display: inline-block;
}

.btn-close {
    background-color: #5e5e5e;
    color: #f1f1f1;
}

#addStockItem .form-group label{
    margin-top: 8px;
}

.auto-markup-selling-price {
    float: right;
}