/**
 *
 * @type {{Written by Shahzaib 12 April,2019}}
 */

.add-stock-item {
    margin-left: 100px;
}

#sel1 {
    width: 100px;
    display: inline-block;
}

.btn-close {
    background-color: #5e5e5e;
    color: #f1f1f1;
}

#addStockItem .form-group label, #editStockItem .form-group label{
    margin-top: 8px;
}

.auto-markup-selling-price {
    float: right;
}

#stock_items tbody td:first-child {
    display: none;
}

#stock_items thead th:first-child {
    display: none;
}

#supplier-price-table2 thead th:nth-child(1), #supplier-price-table2 tbody tr td:nth-child(1),
#selling-price-table2 thead th:nth-child(1),#selling-price-table2  tbody tr td:nth-child(1) {
    display: none;
}

.add-row-in-supplier-tab {
    font-size: 22px;
    float: right;
}